@import "tailwindcss";

themes: {
  --color-primary: #D4FF00;
  
}

@layer utilities {
  .font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }
 
  

  .bg-degrade {
    background: linear-gradient(
      135deg,
      #000000 0%,
      #000428 40%,
      #004e92 70%,
      #00cfff 100%
       );
   background-size: 100% 300%; /* ¡clave! */
    background-repeat: no-repeat;

    
    }
 .bg-parte-1 {
    background-position: top;
  }
  .bg-parte-2{ 
    background-position: center;
  }
  .bg-parte-3 {
    background-position: bottom;
  }

 
.bg-degrade-top {
      background: linear-gradient(
        360deg,
        #000000 0%,
        #000428 10%,
        #004e92 90%,
        #00cfff 100%
      );
  }
.bg-scroll {
      background: linear-gradient(
        135deg,
        #000000 0%,
        #000428 17%,
        #004e92 40%,
        #00cfff 100%
      );
      background-size: 100% 
  }

  .bg-scroll-mobile {
      background: linear-gradient(
        125deg,
        #000000 0%,
        #000428 14%,
        #004e92 30%,
        #00cfff 100%
      );
  }

  .bg-static-mobile {
      background: linear-gradient(
        135deg,
        #000000 0%,
        #000428 14%,
        #004e92 30%,
        #00cfff 100%
      );
      background-size: 100% 300%;
     background-repeat: no-repeat;
  }


}
 

